.header {
  height: 11vh;
  color: $primary;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px;
  @include media-breakpoint-up(lg) {
    height: 80px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //max-width: 1028px !important;
  }
  .header-social {
    height: inherit;
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
}
