// material-ui
.MuiButton-containedPrimary {
  background-color: $money !important;
}
.MuiButton-containedSecondary {
  background-color: $money-compl2 !important;
}
.MuiButton-root.Mui-disabled {
  background-color: #ccc !important;
}
.MuiStepIcon-root.MuiStepIcon-completed {
  color: $money !important;
}
.MuiStepIcon-root.MuiStepIcon-active {
  color: $money !important;
}
.MuiStepLabel-label.MuiStepLabel-active {
  font-size: 24px !important;
  font-weight: bolder !important;
  color: $money !important;
}

// react-scheduler
.Cell-today-2363 {
  background-color: $blue !important;
}
.Cell-highlight-2364 {
  color: $blue !important;
}

// react-datepicker
.react-datepicker__input-container > input {
  width: 200px !important;
}
.react-datepicker-ignore-onclickoutside {
  width: 200px !important;
}
