.package-container {
  width: 320px;
  height: 580px;
  margin: 10px;
  min-width: 320px;
  max-width: 320px;
  min-height: 580px;
  max-height: 580px;
}

.package-button {
  width: 95%;
  height: 100%;
  border-color: #ccc;
  border-width: 1px;
  border-style: solid;
  padding: 15px;
  background-color: white;
}

.package-group-container {
  display: flex;
  flex-direction: row;
  @media (max-width: 776px) {
    flex-direction: column;
  }
}

.package-button:focus {
  outline: none;
}

.pkg-mcs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: gray;
}

.package-selected {
  // border-color: #6fff55;
  border-color: $dark-money;
  border-width: 8px;
  border-style: solid;
  border-radius: 3px;
}

.package-content {
  display: flex;
  flex-direction: column;
  margin: 5px;
  font-size: 14px;
}

.package-price {
  font-size: 64px;
  font-weight: bold;
  font-family: 'Crimson Text', serif;
  color: $money;
  margin-bottom: 0px;
}

.package-price-dollar {
  font-size: 64px;
  font-family: 'Crimson Text', serif;
}

.package-flat-fee {
  margin-top: -20px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #333;
  font-weight: normal;
}

.package-list {
  font-size: 16px !important;
}

.package-price-cents {
  font-size: 32px;
  font-family: 'Crimson Text', serif;
}

.package-name {
  font-family: serif;
  font-size: 28px;
  color: $primary;
}

.package-description {
  color: #333;
  font-size: 14px;
}

.package-rate {
  // font-style: italic;
  color: #333;
  font-size: 14px;
}
