.quote {
  // color: #A4B0B9;
  color: #ccc;
  font-size: 42px;
  line-height: 85%;
  font-family: 'Abril Fatface', 'Helvetica Neue', serif;
  // font-family: 'Prata', 'Helvetica Neue', serif;
  // font-family: 'Lemon/Milk', 'Helvetica Neue', serif;
  // font-style: italic;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 95%;
  max-width: 480px;
  margin-right: 0px;
  @include media-breakpoint-up(lg) {
    width: 480px;
  }
}

#quote-container {
  // width: 100%;
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  // order: 1;
  @include media-breakpoint-up(lg) {
    padding-left: 60px;
    padding-top: 0px;
    padding-right: 45px;
    align-self: flex-end;
  }
}

#quotee-container {
  width: 80%;
  // order: 2;
  @include media-breakpoint-up(lg) {
    width: 33%;
    // order: 3;
  }
}

#quotee {
  font-size: 42px;
  font-weight: bolder;
  color: #333;
  text-align: right;
  // padding-right: 60px;
}

.text-highlight {
  color: #333;
  text-shadow: 0px 1.5px 1px #eee;
}

.parens {
  font-size: 42px;
  font-family: 'Abril Fatface', 'Helvetica Neue', serif;
}
