.quote {
  // color: #A4B0B9;
  color: #aaa;
  font-size: 24px;
  font-family: 'Abril Fatface', 'Helvetica Neue', serif;
  // font-family: 'Prata', 'Helvetica Neue', serif;
  // font-family: 'Lemon/Milk', 'Helvetica Neue', serif;
  // font-style: italic;
  letter-spacing: 1px;
}

#quote-container {
  width: 80%;
  text-align: justify;
  text-justify: inter-word;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  // order: 1;
  @include media-breakpoint-up(lg) {
    width: 33%;
    padding-left: 60px;
    padding-right: 50px;
    padding-top: 0px;
  }
}

#quotee-container {
  width: 80%;
  // order: 2;
  @include media-breakpoint-up(lg) {
    width: 33%;
    // order: 3;
  }
}

#quotee {
  font-size: 28px;
  font-weight: bolder;
  color: #333;
  text-align: right;
  // padding-right: 60px;
}

.text-highlight {
  color: #333;
  text-shadow: 0px 1.5px 1px #eee;
}

.parens {
  font-size: 32px;
  font-family: 'Abril Fatface', 'Helvetica Neue', serif;
}
