.page-home {
  //background-image: url('../images/marathon-logo.png');
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: 49px -40px;
  @include media-breakpoint-up(sm) {
    background-size: 90%;
    background-position: 159px -40px;
  }
  @include media-breakpoint-up(md) {
    background-size: 70%;
    background-position: 100% -50px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 60%;
    background-position: 100% -70px;
  }
}

.intro-container {
  display: flex;
  width: 100%;
}

.intro-big {

}

.intro-half {
}

#mogul-logo {
  width: 500px;
}
