.page-home {
  //background-image: url('../images/marathon-logo.png');
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: 49px -40px;
  @include media-breakpoint-up(sm) {
    background-size: 90%;
    background-position: 159px -40px;
  }
  @include media-breakpoint-up(md) {
    background-size: 70%;
    background-position: 100% -50px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 60%;
    background-position: 100% -70px;
  }
}

//.intro-container {
//  display: flex;
//  flex-direction: row;
//  justify-content: center;
//  align-items: center;
//  padding-right: 40px;
//  padding-left: 40px;
//  width: 100%;
//  @media (max-width: 776px) {
//    flex-direction: column;
//  }
//}
//
//.intro-big {
//  width: 100%;
//}
//
//.intro {
//  @media (max-width: 776px) {
//    padding-top: 50px;
//    padding-bottom: 50px;
//  }
//}
//
//#mogul-logo {
//  width: 100%;
//  max-width: 550px;
//  height: auto;
//}
//
//.services-home {
//  padding-top: 10px !important;
//}

//.intro-half {
//  justify-content: center;
//  max-width: 480px;
//}
//
//.intro-half > h1 {
//  width: 85% !important;
//  text-align: center;
//}
//
//.intro-half > img {
//  @media (max-width: 776px) {
//    padding-bottom: 40px;
//  }
// }

