.funding-list-title {
  padding-left: 30px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.funding-list {
  font-size: 18px;
}

#funding-list-1 {
  list-style-type: square;
}

#funding-list-2 {
  padding-bottom: 30px;
}
